<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>首页</title>
  <link rel="stylesheet" href="/public/css/reset.css">
  <link rel="stylesheet" href="/public/css/index.css">
</head>
<body>
  <div class="index">
    <div class="index-header"></div>
    <div class="index-warp">
      <img src="/public/imgs/antd.png" alt="">
      <p>大家好，我叫{{name}}</p>
      <p>我今年{{age}}岁</p>
      <p>我喜欢{{hobby}}</p>
    </div>
    <div class="index-footer"></div>
  </div>
</body>
</html>